/*@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html{
	
	--font-family: "Source Sans Pro", Lato, Roboto, Muli, system-ui, Spartan, system-ui, sans-serif;
	--button-font-family: var(--font-family);
	
	font-family: var(--font-family);
	font-size: 16px;
	width: 100%;
	overflow-x: hidden;
	/* variables */
	--topbar-height: 4rem; 
	
	/* colors */
	
	/* AQUA GREEN */  /*--pc-r: 0; --pc-g: 105; --pc-b: 92;
										--dark-r: 43; --dark-g: 98; --dark-b: 89; */
	/* RED: */ --pc-r: 198; --pc-g: 40; --pc-b: 40;
						 --dark-r: 142; --dark-g: 0; --dark-b: 0;
	
	/* GRASS GREEN  --pc-r: 158; --pc-g: 157; --pc-b: 36;
										--dark-r: 108; --dark-g: 111; --dark-b: 0;
						/*
	#439889
	#003d33
	*/

	
	--pc-rgb: var(--pc-r), var(--pc-g), var(--pc-b);
	--pc: rgb(var(--pc-rgb));

	--primary: var(--pc);

	--dark-rgb: var(--dark-r), var(--dark-g), var(--dark-b);
	--dark: rgb(var(--dark-rgb));


	--border-gray: #d6d6d6;
}

html, body{
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

body{
	margin: 0;
	/*background: rgba(var(--pc-rgb), 0.01)*/;
}

* {
	min-width: 0;
	min-height: 0;
	outline: 0 !important;
}

::selection{
	background: lightblue !important;
}

::-moz-selection{
	background: lightblue !important;
}

.na{
	text-decoration: none;
	color: inherit;
}

.btn-dark, .btn-light {
	position: relative;
	cursor: pointer;
	user-select: none;
}

.btn-dark:after, .btn-light:after {
	z-index: 0;
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	user-select: none;
	contain: strict;
	transition: background-color 200ms ease;
}

.btn-dark:hover:after,
.btn-dark.hover:after {
	background-color: rgba(0,0,0,0.08)
}

.btn-light:hover:after,
.btn-light.hover:after {
	background-color: rgba(255,255,255,0.15);
}

.btn-dark > .ripple {
	color: rgba(0,0,0,0.15) !important;
}

.btn-light > .ripple{
	color: rgba(255,255,255,0.4) !important;
}

[data-tooltip] {
	position: relative;
}

[data-tooltip]:before {
	position: absolute;
	content: attr(data-tooltip);
	display: block;
	white-space: nowrap;
	padding: 0.5rem 0.75rem;
	font-size: 0.85rem;
	top: -0.5rem;
	left: 50%;
	transform: translate(-50%, -100%);
	pointer-events: none;
	transition: opacity 200ms ease;
	opacity: 0;
	color: #fff;
	background: var(--tooltip-bg, rgba(0,0,0,0.6)); 
	/*z-index: 2200;*/
	border-radius: 0.25rem;
}

[data-tooltip]:hover:before {
	opacity: 1;
}

/* buttons */
/*
.btn-light, .btn-dark {
	position: relative;
	cursor: pointer;
	user-select: none;
}

.btn-light:after, .btn-dark:after {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color 200ms ease;
	pointer-events: none;
	border-radius: inherit;
}

.btn-light:hover:after {
	background-color: rgba(255,255,255,0.15)
}

.btn-light:active:after {
	background-color: rgba(255,255,255,0.25) ;
}

.btn-dark:hover:after {
	background-color: rgba(0,0,0,0.05)
}

.btn-dark:active:after {
	background-color: rgba(0,0,0,0.1) ;
}
*/


/* elevation */
.elevation-2, .box {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.box {
	background: #fff;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
}

.box-title {
	font-size: 1.25em;
	flex: none;
	border-bottom: var(--border-gray) 1px solid;
	padding: 1rem;
}


.elevation-3, .ql-toolbar.ql-snow {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14),
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.elevation-6 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.elevation-8 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14),
    0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.elevation-16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
    0px 16px 24px 2px rgba(0, 0, 0, 0.14),
    0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

/* overlay */

x-overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
}
.text-btn {
	padding: 0.75em 1em;
	border-radius: 0.25em;
}